header{
    background-color: brown;
    height: 100px;
}
nav{
    background-color: blue;
    display: inline-flex;
    height: 450px;
    width: 200px;
}
nav li{
    display: flex;
}

nav li a{
    color:white;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
nav li a:hover{
    background-color: aqua;
}


main{
    display: inline-flex;
    position: absolute;
    padding: 20px; /* Adicionar um pouco de espaço para evitar que o conteúdo toque o footer */

    }

footer{
    background-color: black;
    height: 100px;
}
